.chat-messages-container {
    flex-grow: 1;
    margin-top: 20px;
    overflow: scroll;
    scrollbar-width: none;
}

.welcome-paragraph {
    text-align: center;
    font-size: 20px;
    color: rgb(112, 112, 112);
}