.title-text {
    font-size: 25px;
    margin-left: 5px;
}

.input-email {
    padding: 8px 10px;
    font-size: 15px;
    border-width: 1px;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.button {
    background-color: rgb(0, 123, 255);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-left: 5px;
    padding: 8px 12px;
    cursor: pointer;
}